.body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 110px);
     overflow-y: hidden;
      overflow-x: hidden;
  }

  .svg-container {
    top:10;
    position: relative;
    margin-left: 40px;
    transform: scale(2);
  }
  
  .visible {
    display: block;
  }

  .hidden {
    display: none;
  }
  .womanback{
    position: relative;
    margin-right: 25px;
    margin-top: -20px;
    width: 600px;
    height: auto;
  }
  .backman{
    position: relative;
    margin-right: -10px;
    margin-top: -50px;
    width: 600px;
    height: auto;
  }
  .womanp{
    position: relative;
    margin-right: 15px;
    margin-top: -50px;
    width: 600px;
    height: auto;
  }
  svg {
    width: 100%;
    height: auto;
  }

  .st0 {
    fill: #9b9b9a;
  }
  .st0:hover {
    fill: red;
    transition: fill 0.3s;
  }
  
  svg {
    pointer-events: none;
  }
  
  path {
    pointer-events: auto;
  }
  polygon {
    pointer-events: auto;
  }