footer {
    background-color: black;
    text-align: center;
    display: flex;
    color: #c9c9c2;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 0, 0, 0.356);
    z-index: 10;
    position: fixed;
    bottom: 0; 
    width: 100%; 
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
  }
  
  .footer p {
    margin: 2px;
    text-align: center;
  }