* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  text-align: center;
  width: auto;
  height: calc(100vh - 110px);
}
.header {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
}

.imageback {
  border: 1px solid red;
}

.logos {
  height: 80px;
  display: flex;
  margin-left: 10px;
  border: 0.1px solid #eeeeee;
  @media screen and (max-width: 768px) {
    transform:scale(0.8)
  }
}
.logos:hover{
  transform: scale(1.1);
}
html,
body {
  margin: 0;
  padding: 0;
}
.button {
  text-align: center;
}
.nav-link{
  border:unset;
}
.nav-link:not(.nohover):hover {  
  background-color: #000000;
}